/* Estilo para o body com imagem de fundo */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0;
    text-align: center;

    /* IMAGEM DE FUNDO */
    background-image: url('images.jpeg'); /* Certifique-se que o caminho está correto */
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para a div que contém a imagem */
.imagem-container {
    text-align: center;
}

/* Estilo para as imagens */
img {
    max-width: 300px;
    height: auto;
    text-align: center;
}

/* Estilo para títulos */
h1 {
    color: rgb(186, 253, 255);
    margin-top: 20px;
    text-align: left;
}

h2 {
    color: rgba(20, 2, 122, 0.664);
    margin-top: 15px;
    text-align: left;
}

h3 {
    color: white;
    margin-top: 10px;
    text-align: left;
}

h4 {
    color: black;
    margin-top: 10px;
    text-align: left;
}

h5 {
    color: black;
    margin-top: 10px;
    text-align: left;
}
head2 {color: rgb(129, 188, 190);
    margin-top: auto;
    text-align: center;
font-size: 56px}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 90%;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    align-self: flex-start;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004999;
}
