/* Estilo para o body */
body {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    justify-content: center; /* Centraliza no eixo vertical */
    align-items: center; /* Centraliza no eixo horizontal */
    height: 120vh; /* Faz o body ocupar 100% da altura da tela */
    margin: 0; /* Remove a margem padrão */
    text-align: center; /* Centraliza os textos */


/* Estilo para a div que contém a imagem */
} .imagem-container {
    text-align: center; /* Garante que a imagem fique centralizada */
}

/* Estilo para as imagens */

img {  
    max-width: 500px; /* A imagem nunca ultrapassará a largura da tela */
    height: auto; /* Mantém a proporção da imagem */
    text-align: center;
}

/* Estilo para o título h1 */
h1 {
    color:rgb(255, 60, 0);
    margin-top: Defina o tamanho da fonte; /* Espaço superior */
    text-align: left;
}

/* Estilo para o subtítulo h2 */
h2 {
    color:rgb(247, 53, 5);
    margin-top: Defina o tamanho da fonte; /* Espaço superior */
    text-align: left;
}
h3 {
    color: dimgray;
    margin-top: xxx;
    text-align:left ;
}
h4 {
    color: black;
    margin-top:xxx ;
    text-align: left;
}
h5 {
    color: black;
    margin-top: auto;
    text-align: left;
}
head2 {
    color: red;
    margin-top: auto;
    text-align: center;
}